includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Cannot call method get\(\) on mixed\.#'
        - '#Variable \$this might not be defined\.#'
